#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

** Objectives **
*  List of popular languages for Data Science
*  Commonly used Data Science libraries
*  Data Science Tools
*  Some examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1.  Python
2.  R
3.  Scala

Some of the commonly used libraries used by Data Scientists include:
1.  Pandas
2.  Seaborn
3.  Scikit-learn

In [ ]:
|Data Science Tools|
|------------------|
|Junyper Notebooks|
|RStudio|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Cecile du Toit